@charset "UTF-8";
/* CSS Document */

/*Her ændrer vi menuen*/ 
nav {
	margin-right: 10%;
	padding: 0;
	width: 8%;
	background-color: #159DAB;
	position: fixed;
	right: 0%; 
	height: 100%;
	overflow: auto;
}
li {
	list-style-type: none;
}
li a {
    display: block;
    color: #FFFFFF;
}

li a.active {
    background-color: #doebee;
    color: white;
}

li a:hover:not(.active) {
    background-color: #159DAB;
    color: white;
}

.fa {
text-align: center; 
}
